body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

/* {
 color: #FE6721; orange
 color: #E8E7E1; grey
 color: #000000; black
} */

/* header section */

.ham-burger {
    display: none;
}


header {
    width: 100%;
    height: 60px;
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    transition: 0.4s;
    top: 0;
    /* gap: 2rem; */
    /* overflow: hidden; */
    z-index: 1;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: 80px;
}

#logo span {
    color: #FE6721;
}

nav {
    width: 40%;
    margin-right: 40px;
}

nav a{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    text-decoration: none;
    /* margin-right: 40px; */
}

.active{
    color: #FE6721;
}

nav a:hover{
    color: #FE6721;
}

.mobile-navbar{
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 60px;
}

.hidden {
    display: none;
}

.section{
    width: 100%;
    height: fit-content;
    margin: auto;
}

/* hero section */
#herosection{
    background-image: url("../images/triangle-asymmetrical-divider-inverse.svg");
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-color: #F3F2F0;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#herosection div {
    /* margin-top: 60px; */
}

h1 {
    font-size: 34px;
}

#herosection p {
    font-size: 20px;
}

#herosection span{
    color: #FE6721;
}

#herosection button {
    border: 1px solid;
    border-radius: 6px;
    background-color: #FE6721;
    padding: 6px;
}

#herosection img {
    width:300px; 
    height:300px;
    background-color: gray;
    border-radius: 50%;
}

/* about section */
#aboutsection {
    /* background-image: url("../images/triangle-asymmetrical-divider-inverse.svg");
    background-repeat: no-repeat;
    background-position-y:top; */
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutme {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

#aboutme p {
    width: 70%;
    text-align: center;
}

#skills {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.skillimage {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 0;
}

#education {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#eduinfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.cards {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

.cards ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

/* project section */
#projectsection {
    height: 400px;
    background-image: url("../images/bubble-side-divider.svg");
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-color: #F3F2F0;
}

#projectsheader {
    display: flex;
    justify-content: center;

}

#projectslist {

}

/* contact section */
#contactsection {
    width: 100%;
    background-image: url("../images/Curve\ Line.svg");
    background-repeat: no-repeat;
    background-position-y:bottom;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactsection h3 {
    margin-top: 10px;
}

#contact-main {
    width: 90%;
    display: flex;
    margin-top: 30px;
}

#contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
}

#contactinfo ul {
    list-style: none;
}

#contactinfo ul li {
    display: flex;
    align-items: center;
    margin: 20px;
}

.contact-icons {
    width: 30px;
    margin-right: 10px;
}

#contactform {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 80%;
}

#submit-btn {
    background-color: #FE6721;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    /* resize: vertical; */
}

textarea {
    width: 100%;
}

/* footer section */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 60px;
    background-color: #000000;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* If the screen size is 600px wide or less, hide the element */
@media screen and (max-width: 786px) {
    /* header section */
    header {
        width: 100%;
    }
    
    #logo {
        font-size: 16px;
        margin-left: 20px;
    }

    #navbar {
        display: none;
    }

    .active{
        color: #FFFFFF;
        background-color: #FE6721;
    }

    .ham-burger {
        display: flex;
    }

    .ham-burger-icon {
        width: 26px;
        margin-right: 20px;
    }

    .close-icon {
        width: 24px;
        margin-right: 20px;
    }

    /* hero section */
    #herosection {
        height: 400px;

    }

    #hero-info {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    h1 {
        margin-top: -10px;
    }

    h2 {
        margin-top: -14px;
    }

    #resume-btn-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #resume-btn-container button {
        width: 60%;
        font-weight: bold;
    }

    #hero-image {
        display: none;
    }

    /* contact section */
    #contactsection {
        height: 800px;
    }

    #contactsection h3 {
        margin-top: 10px;
    }

    #contact-main {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    #contactform {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    form {
        width: 90%;
    }

    textarea {
        width: 96%;
        margin-top: 6px;
    }
}

